<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
     <arg name="world_name" value="$(find rc_car_gazebo)/world/lab5916_map.world"/>
  </include>

  <!-- BEGIN ROBOT 1-->
  <group ns="$(arg veh)">        ---------rc_car
    <param name="tf_prefix" value="$(arg veh)" />
    <include file="$(find rc_car_description)/launch/rc_car.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="$(arg veh)" />
    </include>
    <node name="rc_car_odomCH" pkg="rc_car_control" type="rc_car_odomCH" /> 
<!--if put "rc_car_odomCH" in rc_car.launch,there is randomly making this process died. Doesn't knowing why...-->
  </group>

#  <!-- BEGIN ROBOT 2-->
#  <!--<group ns="blunder">
#    <param name="tf_prefix" value="blunder" />
#    <include file="$(find blunder_description)/launch/blunder.launch" >
#      <arg name="init_pose" value="-x 5 -y -3 -z 0" />
#      <arg name="robot_name"  value="blunder" />
#    </include>
#  </group>-->
<!--<gazebo>
  <plugin name="differential_drive_controller" filename="libdiffdrive_plugin.so">
      <arg name="left_wheel" value="left_wheel" />
      <arg name="right_wheel"  value="right_wheel" />
  </plugin>
</gazebo>-->
</launch>
