<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>

  <arg name="model" />
  <param name="robot_description" 
	 command="$(find xacro)/xacro.py '$(find rc_car_description)/urdf/rc_car.xacro'" />

  <node name="spawn_rc_car" pkg="gazebo_ros" type="spawn_model" 
	args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)" 
	respawn="false" output="screen" />

<include file="$(find rc_car_control)/launch/rc_car_control.launch" />
      <node name="rc_car_diffFB" pkg="rc_car_control" type="rc_car_diffFB" />
</launch>
